html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  font-family: sans-serif;
  /* color: white; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.container:before, .container:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.grid:after, .row:after {
  clear: both;
}

[class*='med-'] {
  width: 8.33333%;
  float: left;
  min-height: 1px;
  padding: 0.5% 0.5%;
}

[class*='sml-'] {
  width: 8.33333%;
  float: left;
  min-height: 1px;
  padding: 0.5% 0.5%;
}

.box {
  padding: 10px;
  background: #ccc;
  text-align: center;
}

@media screen and (max-width:768px) {
  .container {
    width: 95%;
  }
  .sml-1 {
    width: 8.33333%;
  }
  .sml-2 {
    width: 16.66667%;
  }
  .sml-3 {
    width: 25%;
  }
  .sml-4 {
    width: 33.33333%;
  }
  .sml-5 {
    width: 41.66667%;
  }
  .sml-6 {
    width: 50%;
  }
  .sml-7 {
    width: 58.33333%;
  }
  .sml-8 {
    width: 66.66667%;
  }
  .sml-9 {
    width: 75%;
  }
  .sml-10 {
    width: 83.33333%;
  }
  .sml-11 {
    width: 91.66667%;
  }
  .sml-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .med-1 {
    width: 8.33333%;
  }
  .med-2 {
    width: 16.66667%;
  }
  .med-3 {
    width: 25%;
  }
  .med-4 {
    width: 33.33333%;
  }
  .med-5 {
    width: 41.66667%;
  }
  .med-6 {
    width: 50%;
  }
  .med-7 {
    width: 58.33333%;
  }
  .med-8 {
    width: 66.66667%;
  }
  .med-9 {
    width: 75%;
  }
  .med-10 {
    width: 83.33333%;
  }
  .med-11 {
    width: 91.66667%;
  }
  .med-12 {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .l-1 {
    width: 8.33333%;
  }
  .l-2 {
    width: 16.66667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333%;
  }
  .l-5 {
    width: 41.66667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.33333%;
  }
  .l-8 {
    width: 66.66667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.33333%;
  }
  .l-11 {
    width: 91.66667%;
  }
  .l-12 {
    width: 100%;
  }
}