html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: black;
}

#particle {
  max-width: 100%;
  background: rgba(0, 191, 166, 1);
  background: -moz-linear-gradient(45deg, rgba(0, 191, 166, 1) 0%, rgba(1, 88, 155, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 191, 166, 1)), color-stop(100%, rgba(1, 88, 155, 1)));
  background: -webkit-linear-gradient(45deg, rgba(0, 191, 166, 1) 0%, rgba(1, 88, 155, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(0, 191, 166, 1) 0%, rgba(1, 88, 155, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0, 191, 166, 1) 0%, rgba(1, 88, 155, 1) 100%);
  background: linear-gradient(45deg, rgba(0, 191, 166, 1) 0%, rgba(1, 88, 155, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfa6', endColorstr='#01589b', GradientType=1);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hide;
}

nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 50px;
  position: fixed;
}

.heading {
  position: absolute;
  font-weight: 300;
  font-size: 300%;
  display: inline;
  color: white;
  top: 30%;
  left: 15%:
}

@media (max-width:900px) {
  .heading {
    top: 20%;
    font-size: 200%;
  }
}

@media (max-width:500px) {
  .heading {
    top: 25%;
    font-size: 200%;
  }
}