html, body, {
  margin: 0px;
  padding: 0px;
}

#particles-js {
  background: #fff;
  max-height: 400px;
  min-height: 350px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  /* display: block; */
  overflow: hidden;
}

.display_image {
  max-width: 300px;
  max-height: 300px;
  margin-right: 2%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav li a {
  color: black;
}

nav .brand-logo {
  margin-left: 1%;
}

.heading {
  font-weight: 300;
  font-size: 280%;
}

.wrap {
  top: 10%;
  position: absolute;
  max-height: 500px;
  max-width: 90%;
  left: 10%;
}

.intro {
  padding-top: 1%;
  height: 1000px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .heading {
    /* color: red; */
    font-weight: 300;
    font-size: 200%;
    text-align: center;
  }
  .wrap {
    left: 5%;
  }
  .mob {
    font-weight: 600;
  }
}

@media (max-width: 800px) and (min-width:480px) {
  .heading {
    /* color: red; */
    font-weight: 300;
    font-size: 200%;
  }
  .mob {
    font-weight: 600;
  }
}