body {
  background: #212121;
  color: white;
}

.brand-logo img {
  max-height: 80px;
  max-width: 80px;
}

.parallax-container {
  height: 250px;
}

.parallax-container h4 {
  position: absolute;
  bottom: 10px;
  font-weight: bolder:
}

#dropdown1 li a {
  color: white;
}

i:hover {
  cursor: default;
}

.side-nav li a {
  color: white;
}

.side-nav li:hover, nav li a:hover {
  background: purple;
}

.act_color {
  background: purple;
}

.promo h1 {
  text-align: center;
}

.promo h1 i {
  font-size: 200%;
}

.promo p {
  text-align: justify;
}

.promo {
  margin-top: 2%;
}

.blackOverlay {
  margin: 0px;
  padding: 0px;
  height: inherit;
  width: inherit;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.card-panel span p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card-image img {
  background-size: cover;
  padding: 5px;
}

.card-image {
  border: #424242 5px solid;
}

footer {
  margin-bottom: 5%;
}

footer li {
  min-width: 80px;
  display: inline-block;
  font-size: 250%;
  padding-right: 5%;
}

footer li .btn {
  border 1px purple solid;
}

footer ul li a i {
  color: white;
}

footer ul li a i:active {
  color: black;
}