body {
  background: #212121;
  color: white;
}

.brand-logo img {
  min-height: 40px;
  max-height: 55px;
  max-width: 240px;
}

blockquote {
  border-left: #448aff 4px solid;
}

.parallax-container {
  height: 150px;
}

nav ul a {
  display: inline-block;
}

.slider {
  margin-top: 2%;
}

#dropdown1 li a {
  color: white;
}

i:hover {
  cursor: default;
}

.side-nav li a {
  color: white;
}

.side-nav li:hover, nav li a:hover {
  background: #448aff;
}

.act_color {
  background: #448aff;
}

.promo h1 {
  text-align: center;
}

.promo h1 i {
  font-size: 200%;
}

.promo p {
  text-align: justify;
}

.promo {
  margin-top: 2%;
}

.blackOverlay {
  margin: 0px;
  padding: 0px;
  height: inherit;
  width: inherit;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.card-panel span p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card-image img {
  background-size: cover;
  padding: 5px;
}

.card-image {
  border: #424242 5px solid;
}

.service h4, .service h3 {
  color: #42a5f5;
}

.main .card-image img {
  max-height: 300px;
  max-width: 273px;
  margin: 0 auto;
  border: none;
}

.main h4, .main h5, .main h6 {
  text-align: center;
  font-weight: 300;
}

.main .card-image {
  border: none;
}

footer {
  margin-bottom: 5%;
  padding-left: 2%;
}

footer li {
  min-width: 80px;
  display: inline-block;
  font-size: 250%;
  padding-right: 5%;
}

footer ul li a i {
  color: white;
}

footer ul li a i:active {
  color: black;
}